<p id="notice"><%= notice %></p>

<h1>Listing Accommodations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Max males</th>
      <th>Max females</th>
      <th>Max neutral</th>
      <th>Nightly cost</th>
      <th>Weekly cost</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accommodations.each do |accommodation| %>
      <tr>
        <td><%= accommodation.name %></td>
        <td><%= accommodation.max_males %></td>
        <td><%= accommodation.max_females %></td>
        <td><%= accommodation.max_neutral %></td>
        <td><%= accommodation.nightly_cost %></td>
        <td><%= accommodation.weekly_cost %></td>
        <td><%= link_to 'Show', accommodation %></td>
        <td><%= link_to 'Edit', edit_accommodation_path(accommodation) %></td>
        <td><%= link_to 'Destroy', accommodation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Accommodation', new_accommodation_path %>
