<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @accommodation.name %>
</p>

<p>
  <strong>Max males:</strong>
  <%= @accommodation.max_males %>
</p>

<p>
  <strong>Max females:</strong>
  <%= @accommodation.max_females %>
</p>

<p>
  <strong>Max neutral:</strong>
  <%= @accommodation.max_neutral %>
</p>

<p>
  <strong>Nightly cost:</strong>
  <%= @accommodation.nightly_cost %>
</p>

<p>
  <strong>Weekly cost:</strong>
  <%= @accommodation.weekly_cost %>
</p>

<%= link_to 'Edit', edit_accommodation_path(@accommodation) %> |
<%= link_to 'Back', accommodations_path %>
