<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @meal.name %>
</p>

<p>
  <strong>When:</strong>
  <%= @meal.start_time %> - <%= @meal.end_time %>
</p>

<p>
  <strong>Event:</strong>
  <%= @event.name %>
</p>

<%= link_to 'Edit', edit_event_meal_path(@event, @meal) %> |
<%= link_to 'Back', event_meals_path(@event) %>
